.top-marquee {
  position: sticky;
  top: 0;
  height: 30px;
  background: #f6ff00;
  overflow: hidden;
  z-index: 999;
}

.marquee-track {
  white-space: nowrap;
  display: inline-block;
  min-width: 200%;
  padding-left: 100%;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  animation: marquee-scroll 18s linear infinite;

}


@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.top-marquee:hover .marquee-track {
  animation-play-state: paused;
}
@media (max-width: 768px) {
  .marquee-track {
    animation-duration: 20s;
  }
}


